@charset "UTF-8";

#skipNavigation {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  z-index: 200;
}
#skipNavigation a {
  display: block;
  position: absolute;
  top: -10000px;
  left: 0;
  width: 100%;
  height: 0;
  text-align: center;
  font-size: 1em;
  z-index: 200;
}
#skipNavigation a:hover,
#skipNavigation a:focus,
#skipNavigation a:active {
  position: absolute;
  top: 0;
  padding: 10px 0 25px;
  background: #1d60a7;
  color: #fff;
  z-index: 200;
}
/* header */
.inner {
  max-width: 1720px;
  height: 100%;
  margin: 0 auto; /* border:1px solid #ddd;*/
}
.inner_1400 {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 130px;
  top: 0;
  margin: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.44);
  box-sizing: border-box;
}
.header.active {
  top: 0px;
  background: #fff;
}
.header.active:before {
  position: absolute;
  left: 0;
  top: 130px;
  display: block;
  border-bottom: 2px solid #f2f2f2;
  width: 100%;
  height: 358px;
  /* box-shadow: inset 0px 5px 5px -2px rgb(0 0 0 / 5%); */
  background: #fff;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  content: '';
}
.header__inner {
  width: 100%;
}
.headerTop {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
.headerTop::before {
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 43px;
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.headerTop::after {
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 43px;
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.headerTop a {
  display: inline-block;
  height: 100%;
  line-height: 43px;
  padding-left: 30px;
  color: #fff;
  font-size: 13px;
}
.headerTop a:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 30px;
}
.headerTop__inner {
  width: 1720px;
  margin: 0 auto;
}

.headerBottom {
  justify-content: space-between;
  box-sizing: border-box;
}
.headerBottom__inner {
  display: inline-flex;
  justify-content: space-between;
  width: 1720px;
  margin: 0 auto;
}
.headerBottom h1 {
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 224px;
  height: 90px;
  margin: 0;
  background: url(../img/common/logo.png) no-repeat center center;
}
.headerBottom h1 a {
  margin: 0;
  font-size: 0;
  text-indent: -2000px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

.headerBottom.active h1 {
  background: url(../img/common/logo_c.png) no-repeat center center !important;
}
.headerBottom .gnbWrap {
}
.headerBottom .gnb {
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 2;
  box-sizing: border-box;
}
.headerBottom .gnb li {
  position: relative;
  box-sizing: border-box;
}
.headerBottom .gnb.active li + li::before {
  background-color: #e5e5e5;
}
.headerBottom .gnb li + li::before {
  position: absolute;
  top: 42px;
  width: 4px;
  height: 4px;
  background-color: #86abd1;
  border-radius: 50%;
  content: '';
}
.headerBottom .gnb li a {
  display: block;
  height: 100%;
  padding: 34px 60px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
}
.headerBottom .gnb > li > ul {
  display: none;
  width: calc(100% - 2px);
  border-left: 1px solid #f2f2f2;
  width: calc(100% - 1px);
  background: #fff;
  height: 250px;
  padding: 20px 0;
  border-right: 1px solid #f2f2f2;
  position: absolute;
  left: 0;
  top: 88px;
}
.headerBottom .gnb > li > ul li {
}
.headerBottom .gnb > li > ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}
.headerBottom .gnb > li > ul li + li::before {
  display: none;
}

.header .tnb {
  top: 0px;
  right: 0;
  height: auto;
  padding: 0 1px;
  overflow: hidden;
  margin-bottom: 0;
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.header .tnb li.etc {
  height: auto;
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.header .tnb li.etc a.main_search {
  font-size: 0;
  width: 35px;
  height: 30px;
  background: url(../img/common/icon_search_w.png) no-repeat center center;
}
.header .tnb li.etc a.main_sitemap {
  margin-left: 40px;
  font-size: 0;
  width: 35px;
  height: 30px;
  background: url(../img/common/icon_sitemap_w.png) no-repeat center center;
}

body:not(.fp-viewing-firstPage) .header {
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
}
body:not(.fp-viewing-firstPage) .headerTop {
  background-color: #0066b3;
}
body:not(.fp-viewing-firstPage) .headerTop::before {
  background-color: #0066b3;
  height: 44px;
  content: '';
}
body:not(.fp-viewing-firstPage) .headerTop::after {
  background-color: #0066b3;
  height: 44px;
  content: '';
}
body:not(.fp-viewing-firstPage) .headerTop a:nth-child(1) {
  background-color: #00487e;
  border-left: 1px solid #00487e;
  border-right: 1px solid #00487e;
}

body:not(.fp-viewing-firstPage) .headerBottom h1 {
  width: 224px;
  height: 90px;
  margin: 0;
  background: url(../img/common/logo_c.png) no-repeat center center;
}
body:not(.fp-viewing-firstPage) .headerBottom .gnb li + li::before {
  background-color: #e5e5e5;
}
body:not(.fp-viewing-firstPage) .headerBottom .gnb li a {
  color: #000;
  font-weight: 500;
}
body:not(.fp-viewing-firstPage) .header .tnb li.etc a.main_search {
  font-size: 0;
  width: 35px;
  height: 30px;
  background: url(../img/common/icon_search_b.png) no-repeat center center;
}
body:not(.fp-viewing-firstPage) .header .tnb li.etc a.main_sitemap, body:not(.fp-viewing-firstPage) .header .tnb li.etc a.m_sitemap {
  margin-left: 40px;
  font-size: 0;
  width: 35px;
  height: 30px;
  background: url(../img/common/icon_sitemap_b.png) no-repeat center center;
}
body:not(.fp-viewing-firstPage) .header .tnb li.etc a.m_sitemap{
	margin-left:1.8rem;
	width:2rem;
	height:2rem;
	background-size:cover;;
}

.header.active .headerTop {
  background-color: #0066b3;
}
.header.active .headerTop a:nth-child(1) {
  background-color: #00487e;
  border-left: 1px solid #00487e;
  border-right: 1px solid #00487e;
}
.header.active .headerBottom h1 {
  width: 224px;
  height: 90px;
  margin: 0;
  background: url(../img/common/logo_c.png) no-repeat center center;
}
.header.active .headerBottom .gnb li a {
  display: block;
  color: #000;
}
.header.active .tnb li.etc a.main_search {
  font-size: 0;
  width: 35px;
  height: 30px;
  background: url(../img/common/icon_search_b.png) no-repeat center center;
}
.header.active .tnb li.etc a.main_sitemap {
  width: 35px;
  height: 30px;
  margin-left: 40px;
  font-size: 0;
  background: url(../img/common/icon_sitemap_b.png) no-repeat center center;
}
.header.active .headerBottom .gnb > li > ul {
  position: absolute;
  left: 0;
  top: 91px;
  display: block;
  width: calc(100% - 2px);
  height: 356px;
  border-left: 0;
  width: calc(100% - 1px);
  background: #fff;
  padding: 17px 0;
  border-right: 0;
  box-sizing: border-box;
}
.header.active .headerBottom .gnb > li > ul li a {
  padding: 13px 20px;
  color: #555;
  text-align: center;
}

.header.active .headerBottom .gnb > li > ul li a:hover {
  color: #16aa90 !important;
}

.header.active .headerBottom .gnb > li > a:hover {
  border-bottom: 2px solid #16aa90;
  color: #16aa90 !important;
}

.header.active .headerBottom .gnb > li.active > a + ul {
  background-color: #f8f8f8;
}

.header.active .headerBottom .gnb > li.active > a {
  color: #16aa90 !important;
  border-bottom: 2px solid #16aa90;
  font-weight: 700;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid #000;
  left: 0;
  background-color: #002948;
}
.footer .f_nav {
  position: relative;
  border-bottom: 1px solid #1a3f5b;
}
.footer .f_nav::before {
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: -50%;
  background-color: #1a3f5b;
  content: '';
}
.footer .f_nav::after {
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  right: -50%;
  background-color: #1a3f5b;
  content: '';
}
.footer .f_nav .row {
  justify-content: space-between;
}
.footer .f_nav .list-unstyled li {
  position: relative;
  margin-right: 40px;
  line-height: 56px;
}
.footer .f_nav .list-unstyled li:last-child {
  margin-right: 0;
}
.footer .f_nav .list-unstyled li a {
  font-size: 15px;
  color: #fff;
}
.footer .f_nav .list-unstyled li::after {
  position: absolute;
  top: 26px;
  right: -20px;
  width: 2px;
  height: 2px;
  background-color: #fff;
  content: '';
}
.footer .f_nav .list-unstyled li:last-child::after {
  display: none;
}
.footer .container {
  margin: 0 auto;
}

.footer .f_nav .sitemap {
	position:relative;
  /* overflow: hidden; */
  right:0;
  width: 282px;
  padding: 20px;
  background-color: #001d33;
  box-sizing: border-box;
}
.footer .f_nav .sitemap::before {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 13px;
  height: 8px;
  transform:translateY(-50%);
  background: url(../img/common/icon_up_w.png) no-repeat center center;
  content: '';
}
.footer .f_nav .sitemap .trigger {
  color: #fff;
  font-size: 16px;
}
.footer .f_nav .sitemap.on::before{
	transform:translateY(-50%) rotate(180deg);
}
.footer .f_nav .sitemap .trigger::before {
  
}
.footer .f_nav .sitemap ul li a {
  color: #fff;
  font-size: 16px;
}
.footer .f_nav .sitemap .arrow {
  position: relative;
  float: right;
  right: 20px;
  top: 5px;
}
.footer .f_nav .sitemap .arrow:before {
  position: absolute;
  width: 13px;
  height: 8px;
  background: url(../img/common/icon_up_w.png) no-repeat center center;
  content: '';
}
.footer .f_nav .sitemap .sitemap_div > ul {
  overflow: hidden;
  width: 282px;
  position: absolute;
  right: 0;
  bottom: 57px;
  display: none;
  z-index: 2;
  border: 1px solid #ebebeb;
  border-top: 0;
  background-color:#fff;
}
.footer .f_nav .sitemap .sitemap_div > ul > li {
  width: 100%;
  border-top: 1px solid #ebebeb;
}
.footer .f_nav .sitemap .sitemap_div > ul > li + li {
  margin-left: 0;
}
.footer .f_nav .sitemap .sitemap_div > ul > li > a {
  width: 100%;
  font-size: 1.4rem;
  color: #222;
  padding: 1.5rem 2rem;
  background: #fff;
  display: block;
}
.footer .f_nav .sitemap .sitemap_div > ul > li:hover > a {
  background: #ebebeb;
}

.footer .f_info {
  padding: 40px 0;
}
.footer .footerLogo {
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 224px;
  height: 45px;
  margin: 0;
  background: url(../img/common/logo.png) no-repeat center center;
}
.footer .addr {
  margin-left: 50px;
}
.footer .addr address p {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
}
.footer .addr address ul {
  padding: 10px 0;
}
.footer .addr address ul li {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
}
.footer .addr address ul li span {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
}
.footer .addr address ul li + li {
  position: relative;
  margin-left: 30px;
}
.footer .addr address ul li + li::before {
  position: absolute;
  left: -15px;
  color: #fff;
  content: '/';
}

/* responsive */
@media screen and (max-width: 1720px) {
  .headerTop__inner {
    width: 100%;
  }
  .headerBottom__inner {
    width: 100%;
  }
  .headerBottom {
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 1400px) {
  .footer .f_nav > .row {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    position: initial;
  }
  .headerBottom .gnb li a {
    padding: 34px 5rem;
  }
  .footer .f_nav::after {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 9rem;
  }
  .headerBottom .gnbWrap {
    display: none;
  }
  .headerTop {
    display: none;
  }
  .secondSwiper.swiper {
    overflow: initial;
  }
  .headerBottom h1 {
    height: 9rem;
  }
  .footer .f_nav .list-unstyled li a {
    font-size: 1.3rem;
  }
  .footer .f_nav .sitemap .trigger {
    font-size: 1.4rem;
  }
  .footer .addr address p {
    font-size: 1.6rem;
  }
  .footer .addr address ul li {
    font-size: 1.6rem;
  }
  .footer .f_nav .sitemap {
    width: 20rem;
    padding: 1.8rem 2rem;
  }
  .footer .f_nav {
    height: 6rem;
  }
  .footer .f_nav .sitemap {
    height: 100%;
  }
  .footer .f_nav > .row {
    align-items: center;
  }
  .footer .f_nav .sitemap .sitemap_div > ul {
    width: 20rem;
    box-sizing: border-box;
    bottom: 55px;
  }
}

@media screen and (max-width: 750px) {
  .footer .f_nav {
    height: auto;
  }
  .footer .f_nav > .row {
    padding-left: 0;
    flex-wrap: wrap-reverse;
  }
  .footer .f_nav .logo {
    width: 100%;
  }
  .footer .f_nav .sitemap {
    width: 100%;
  }
  .footer .f_nav .sitemap .sitemap_div > ul {
    width: 100%;
    bottom: 5rem;
  }
  .footer .f_nav .logo > .row {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    box-sizing: border-box;
  }
  .footer .f_nav .list-unstyled li:first-child {
    margin-left: 0;
  }
  .footer .f_nav .list-unstyled li {
    padding-right: 1.7rem;
    margin-right: 1.7rem;
    line-height: 3rem;
  }
  .footer .f_nav .list-unstyled li::after {
    top: 11px;
    right: -1px;
  }
  .footer .f_info {
    padding: 2.3rem 0;
    padding-top: 1.5rem;
  }
  .footer .f_info > .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .footerLogo {
    width: 100%;
    background-size: 16rem auto;
  }
  .footer .addr {
    margin-left: 0;
  }
  .footer .addr address p {
    font-size: 1rem;
    text-align: center;
  }
  .footer .addr address ul li span {
    font-size: 1rem;
  }
  .footer .addr address ul li {
    font-size: 1rem;
	padding-left:1rem;
	letter-spacing:-0.05rem;
  }
  .footer .addr address ul li + li::before{
	left:0;
  }
  .footer .addr address ul li + li{
  margin-left:1rem;
  }
}
@media screen and (max-width: 500px) {
  /* .footer .f_nav .sitemap .sitemap_div > ul {
    bottom: 19.1rem;
  } */
}
@media screen and (max-width: 467px) {
	.footer .f_nav .sitemap .sitemap_div > ul {
	    bottom: 5rem;
	  }
}
